@import "custom.css";

html, body {
    height: 100%;
}

body {
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #333;
    font-size: 26px;
}
.bto-nav, .bto-nav-reiniciar {
  display: block;
  color: white;
  background-color: var(--cor-textos);
  border: 0px;
  padding: 20px 60px;
  display: inline-block;
}
.bto-nav:hover, .bto-nav-reiniciar {
  background-color: var(--paletta-azul-hover);
}
p, button {
  font-family: var(--font-textos);
  font-size: 1em;
  color: #041f37;
}
.modal-body p {
  font-size: 0.8em
}
h2 {
  font-family: var(--font-titulo);
  color: #F770D7;
  font-size: 0.8em;
  text-transform: uppercase;
  text-shadow: unset;
  margin-top: 50px;
}
#bottom-quiz img {
  max-width: 13.1%;
  margin-right: 4%;
}
.top-slide {
  max-width: 924px;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
}
.ico-feedback {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  max-width: 66px;
  margin-left: auto;
  margin-right: auto;
}
.ico-feedback::before{
  content: "";
  width: 100%;
  height: auto;
  padding-top: 96%;
  display: block;
}

.texto-feedback.container p {
  text-align: left;
}
#navegacao {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.pergunta {
  width: 100%;
  height: auto;
  background-color: #F770D7;
  border: unset;
  border-color: unset;
  padding: 20px;
  box-shadow: unset;
  border-radius: 15px;
}
.pergunta p {
  max-width: 670px;
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: auto;
}
.bto, .bto.desativar, .bto.desativar:hover {
  background-color: #8065e6;
  border: 0px none;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  border-radius: 19px;
  overflow: hidden;
  padding: 6px;
}
.bto::before, .bto:hover.desativar::before {
  content: attr(data-label);
  width: 54px;
  height: 55px;
  text-align: center;
  display: inline-block;
  background-color: #522FD3;
  padding: 6px 0px;
  margin-right: 10px;
  border-radius: 14px;
  color: white
}
.bto:hover {
  color: #fff;
  background-color: #8065e6a6;
}
.bto:hover::before {
  background-color: #fff;
  color: #522FD3
}
.bto.positivo::before, .bto.positivo:hover::before {
  background-color: var(--feedback-positivo);
}
.bto.negativo::before, .bto.negativo:hover::before {
  background-color: var(--feedback-negativo);
}
.bto.positivo, .bto.positivo::before {
  color: var(--cor-textos);
}
.bto.negativo, .bto.negativo::before {
  color: var(--cor-textos);
}
.bto.negativo, .bto.negativo:hover {
  background-color: #f9c3c3;
  color: var(--cor-textos);
}
.bto.negativo::before {
  color: var(--cor-textos) !important;
}
.bto.positivo, .bto.positivo:hover {
  background-color: #c9ecba;
  color: var(--cor-textos);
}
.bto.positivo::before {
  color: var(--cor-textos) !important;
}
.respostas {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.top-slide-final .pergunta.pt-5.pb-5 {
  width: 100%;
  max-width: 736px;
  margin: auto;
}
.top-slide-final .pergunta.pt-5.pb-5 p {
  width: 100%;
  max-width: 604px;
}
#contador {
  font-size: 70px;
}
.texto-feedback.container 
{
  max-width: 670px;
}
header.senac {
    background-color: #50D7E2;
  }
  header.senac {
    height: 80px;
    z-index: 99;
    margin-top: 0;
    top: 0;
    padding-top: 0;
    position: absolute;
    width: 100%;
  }

  .header-tecnicos {
    position: relative;
    overflow: hidden;
    height: 80px;
    background-position: right,center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
  }
  .container {
    max-width: 990px;
  }
  #nome-curso {
    color: #fff;
  }
  #nome-curso {
    position: relative;
    display: block;
    float: left;
    top: 1.7em;
    top: 15%;
    left: 2.0em;
    font-size: 0.923em;
    font-family: 'robotoregular', Arial, Verdana, Helvetica;
    text-transform: uppercase;
  }
  #logo-senac {
    position: relative;
    float: right;
    right: 2.7em;
    top: 0.7em;
  }
  #bottom-quiz {
    position: fixed;
    top: 20px;
    left: 0px;
    padding-right: 40px;
    text-align: right;
  }
  .bto-baixar {
    max-width: 241px;
    width: 100%;
    height: auto;
    transition: .25s;
    display: inline-block;
    transform-origin: center center;
    background: url(../img/bto-download.png) top left / 100% auto no-repeat;
    margin-right: 2%;
    margin-top: -22px;
  }
  .pergunta a {
    display: block;
    color: white;
    font-size: 18px; 
    text-transform: uppercase;
  }
  .pergunta a:hover {
    display: block;
    text-decoration: none
 
  }
.bto-baixar:hover {
  transform: scale(0.95);
  transition: 0.25s;
}

.bto-baixar::before {
  content: "";
  width: 100%;
  height: auto;
  padding-top: 118.2%;
  display: block;
}
  @media screen and (max-width: 800px) {
    .container {
      max-width: 96%;
    }
  }
  h1{
  margin-top: 20px;
  margin-bottom: 10px;
}
#top-quiz {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 7%;
}
  @media screen and (max-width:1000px){
    #nome-curso.titulo-longo{
    width:70%;
    top:0;
    }
  }
  @media only screen and (max-width: 991px){
    #top-quiz{
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
  }
  }
  @media only screen and (max-width: 550px){
    #nome-curso{
      left:-0.2em;
      color:#fff;
      font-size:0.6153846153846154em;
      /*margin-top:1.41em;		*/
      top:18%;
      text-transform:uppercase !important;
    }
    #logo-senac{
      right:1.2em;
      width:20%;
    }
  }


@keyframes sprite {
 100% {
   background-position: -1410px;
 }
}
.over-loader{
  width:100%;
  height:100%;
  background-color:rgba(255,255,255,1);
  position:fixed;
  display: table;
  z-index:9999;
}
.over-cell{
  display: table-cell;
  text-align: center;
  vertical-align:middle;
}
